people-detail {
  .people-top-area{
    p{
      margin: 0;
    }
    margin-bottom: 10px;
  }
  .title {
    color: #313131;
    font-size: 18px;
  }
  .type {
    color: #747474;
    font-size: 14px;
    margin: 10px 0;
  }
  .people-label {
    font-size: 10px;
    color: #ffffff;
    background-color: #74C547;
    padding: 0 10px;
    border-radius: 10px;
    margin-right: 10px;
  }

  .publish-date {
    color: #747474;
    font-size: 12px;
  }

  .detail-img{
    height: 35vh;
    width: 100%;
  }

  .comment {
    background-color: #ffffff;
    margin-top: 10px;
    .name {
      color: #161616;
    }
    .content {
      margin: 0;
      color: #505050;
      padding: 0 10px 10px 10px;
    }
  }

  .description {
    font-size: 12px;
    color: #747474;
  }
}
