app-mine-collections {
  .time-item {
    background-color: #ffffff;
    margin-bottom: 10px;

    &-avatar {
      img {
        width: 40px;
        height: 40px;
      }
    }
    &-detail-top {
      font-size: 14px;
      color: #212121;
      width: 100%;
      &-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &-price {
        text-align: right;
        font-weight: bold;
        color: #2D2D2D;
      }
    }
    &-detail-bottom {
      padding-top: 8px;
      .number {
        margin-right: 20px;
      }
      span {
        font-size: 12px;
        color: #929292;
      }
      .phone {
        width: 15px;
        height: 15px;
        float: right;
        margin-right: 10px;
      }
      img {
        vertical-align: middle;
      }

    }
  }
}
