<div *ngFor="let item of myCollectionsList" class="time-item">
  <p class="collection-date">收藏于{{item.date}}</p>
  <ion-item>
    <ion-avatar item-start class="time-item-avatar">
      <img [src]="item.time.header?item.time.header:placeholderPicture">
    </ion-avatar>
    <div>
      <div class="time-item-detail-top">
        <ion-row>
          <ion-col style="padding-left: 0" col-8 class="time-item-detail-top-name">{{item.time.name}}</ion-col>
          <ion-col col-3 class="time-item-detail-top-price">{{item.time.price}}元/小时</ion-col>

        </ion-row>
      </div>

      <div class="time-item-detail-bottom">
        <img style="width: 17px;height: 8px" src="assets/imgs/home/icon/viewer.png">
        <span class="number">{{item.time.viewNumber}}</span>
        <img style="width: 14px;height: 12px" src="assets/imgs/home/icon/lover.png">
        <span>月卖{{item.time.lover}}单</span>


        <p class="address">
          <ion-icon name="app-pin" color="gray"></ion-icon>
          {{item.time.address}}
        </p>
      </div>
    </div>
  </ion-item>
</div>
