page-register {
    .item-ios.item-block .item-inner{
        border: none;
        .label{
          font-size:14px;
          color: #000000;
          font-weight: 500;
        }
      }
    
      .get-code{
        color: #000000;
        position: absolute;
        right: -10px;
        top:-10px;
        width: 50%;
        height: 120%;
        background-color: #EFEFEF;
        span{
            position: absolute;
            top:30%;
            left: 30%;
        }
      }
      .setting-phone-form{
        margin-top: 20px;
        ion-item{
          width: 90vw;
          margin:0 5vw 20px 5vw;
          border: #e7e1e1 1px solid;
          border-radius:40px;
        }
      }

      .agree-item{
        width: 90vw;
        margin:0 5vw 20px 5vw;
        background-color: #f4f4f4;
        .label{
            font-size:12px;
            color: #999999;
            margin-left: 10px;
        }
      }
      .login-btn{
          padding: 0 16px;
          button{
            height:45px; 
        }
      }
      .tip-btn{
        font-size: 14px;
      }
      .line{
          color: #e7e1e1;
      }
}
