page-choose-bank-card {

  .fixed-content {
    background-color: #ffffff;
  }

  .band-card-text{
    float: left;
    color: #000000;
  }

  .bank-group{
    ion-item{
      margin-bottom: 2px;
    }
  }

}
