page-tabs {
  .ion-tab-icon-base {
    width: 30px !important;
    height: 32px !important;
    padding: 4px 4px 2px;
  }
  .ion-tab-icon-md-base{
    width: 30px !important;
    height: 30px !important;
    padding: 4px 4px 2px;
  }
  $tabImageName: 'home' 'sort' 'post' 'order' 'mine';
  @for $i from 1 to 6 {
    //for ios

    .ion-ios-tab-#{nth($tabImageName, $i)} {
      @extend .ion-tab-icon-base;
      content: url("../assets/imgs/tabs/tab_#{nth($tabImageName, $i)}_on.png");
    }
    .ion-ios-tab-#{nth($tabImageName, $i)}-outline {
      @extend .ion-tab-icon-base;
      content: url("../assets/imgs/tabs/tab_#{nth($tabImageName, $i)}_off.png");
    }
    // for android
    .tabs-md .tab-button[aria-selected=true] {
      .ion-md-tab-#{nth($tabImageName, $i)} {
        @extend .ion-tab-icon-md-base;
        content: url("../assets/imgs/tabs/tab_#{nth($tabImageName, $i)}_on.png");
      }
    }
    .tabs-md .tab-button[aria-selected=false] {
      .ion-md-tab-#{nth($tabImageName, $i)} {
        @extend .ion-tab-icon-md-base;
        content: url("../assets/imgs/tabs/tab_#{nth($tabImageName, $i)}_off.png");
      }
    }
  }
  .ion-ios-tab-task, .ion-ios-tab-task-outline, .ion-ios-tab-master, .ion-ios-tab-master-outline {
    width: 28px !important;
    height: 30px !important;
  }
  .ion-md-tab-task, .ion-md-tab-task-outline, .ion-md-tab-master, .ion-md-tab-master-outline {
    width: 28px !important;
    height: 28px !important;
  }

}
