<ion-header>

  <ion-navbar mode="ios" text-center>

    <ion-buttons start>

      <button ion-button icon-left class="position-btn" (click)="chooseCity()">
        <ion-icon name="app-pin" color="dark"></ion-icon>
        <span class="app-text-small">天津</span>
      </button>

    </ion-buttons>

    <button class="search-btn" ion-button icon-right color="white" (click)="search()">
      <span class="search-btn-text">请输入搜索关键词</span>
      <ion-icon name="app-search" color="dark"></ion-icon>
    </button>


    <ion-buttons end>

      <button (click)="notifications()" ion-button icon-only class="notification-btn">
        <img src="assets/imgs/home/icon/notifications.png">
      </button>

    </ion-buttons>
  </ion-navbar>

</ion-header>
