<div *ngFor="let item of myCollectionsList" class="time-item">
  <p *ngIf="item.collectionDate" class="collection-date">收藏于{{item.collectionDate}}</p>
  <ion-item tappable  (click)="clickItem(item)" (press)="onPress(item)">
    <ion-avatar item-start class="time-item-avatar">
      <img [src]="item.header?item.header:placeholderPicture">
    </ion-avatar>
    <div>
      <div class="time-item-detail-top">
        <ion-row>
          <ion-col style="padding-left: 0" col-9 class="time-item-detail-top-name">{{item.name}}</ion-col>
          <ion-col col-3 class="time-item-detail-top-price">{{item.price}}元/小时</ion-col>

        </ion-row>
      </div>

      <div class="time-item-detail-bottom">
        <img style="width: 17px;height: 8px" src="assets/imgs/home/icon/viewer.png">
        <span class="number">{{item.viewNumber}}</span>
        <img style="width: 14px;height: 12px" src="assets/imgs/home/icon/lover.png">
        <span>月卖{{item.lover}}单</span>


        <p class="address">
          <ion-icon name="app-pin" color="gray"></ion-icon>
          {{item.address}}
        </p>
      </div>
    </div>
  </ion-item>
</div>
