// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
$app-theme: #F5EC5C;
//Common
$font-family-base: 'PingFang';
$font-family-ios-base: 'PingFang';
$font-family-md-base: 'PingFang';
$font-family-wp-base: 'PingFang';

// Named Color Variables

$colors: (
  primary: #488aff,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  white: #ffffff,
  orangeBtn:#FC9400,
  ligter:#929292,
  theme:#F5EC5C
);

$text-dark:rgba(51,51,51,1);
$text-gray:#AFAFAF;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$content-ios-outer-background: #f4f4f4;

$tabs-ios-tab-text-color-active: #000000;
$tabs-ios-tab-icon-color-active: #F5EC5C;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

//@import "roboto";
//@import "noto-sans";
.ion-ios-app-tab-mine:before {
  content: url('../assets/imgs/tabs/tab_mine_on.png');
}
.ion-ios-app-tab-mine-outline:before {
  content: url('../assets/imgs/tabs/tab_mine_off.png');
}
