//text
.app-text{
  &-small{
    color:$text-dark;
    font-size:10px;
  }
}


//divider
.app-divider{
  background-color: #ffffff;
  width: 100%;
  margin-bottom:10px ;
  p{
    font-size: 16px;
    color: #4C4C4C;
    padding: 10px ;
    margin: 0;
  }

  span{
    font-size: 12px;
    float: right;
    color: #FA8A8A;
    vertical-align: center;
  }


}

//form
.app-form{
  margin-top: 10px;
  ion-item,button{
    margin-bottom: 7px;
  }
  .form-textarea{
    height: 120px;
    .text-input{
      height: 100%;
    }
  }
  .text-input{
    font-size: 14px;
  }
  .subtitle{
    font-size: 12px;
    color: #8c8c8c;
  }
}


