//rewrite ionic components style

//fonts
@font-face {
  font-family: PingFang;
  src: url('../../assets/fonts/PingFang Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  $font-family-base: 'PingFang';
}

//navbar
ion-navbar {
  .toolbar-background {
    background-color: $app-theme;
  }
  .toolbar-title-ios {
    color: #313131;
  }
}

ion-header ion-icon.back-button-icon.icon {
  color: #313131;
}

//ion-title{
//    position: absolute;
//    left: 0;
//    top: 0;
//    height: 100%;
//    width: 100%;
//    text-align: center;
//}

//content
.fixed-content{
  background-color: #F6F6F6;
}

//item
.item-ios.item-block .item-inner{
  border: none;
  .label{
    font-size:14px;
    color: #000000;
    font-weight: 500;
  }
}
