<div *ngFor="let item of peopleSearchList" class="time-item">
  <ion-item>
    <ion-avatar item-start class="time-item-avatar">
      <img [src]="item.avatar?item.avatar:placeholderPicture">
    </ion-avatar>
    <div class="title-area">
      <p class="title">
        {{item.title}}
      </p>
      <p class="sub-title " text-wrap>
        {{item.subTitle}}
      </p>


    </div>

    <ion-row class="time-item-detail-bottom">
      <ion-col col-6>
        <img style="width: 14px;height: 14px" src="assets/imgs/home/icon/date.png">
        <span class="number">{{item.date}}</span>
      </ion-col>
      <ion-col col-3>
        <img style="width: 17px;height: 8px" src="assets/imgs/home/icon/viewer.png">
        <span class="number">{{item.viewNumber}}</span>
      </ion-col>
      <ion-col col-3>
        <img style="width: 14px;height: 12px;margin-left: 10px" src="assets/imgs/home/icon/lover.png">
        <span>{{item.commentsNumber}}</span>
      </ion-col>
    </ion-row>
  </ion-item>


</div>


