<div *ngFor="let item of peopleSearchList" class="time-item">
  <p class="collection-date" *ngIf="item.collectionDate">收藏于{{item.collectionDate}}</p>

  <ion-item tappable (click)="clickItem(item)" (press)="onPress(item)">
    <ion-avatar item-start class="time-item-avatar">
      <img [src]="item.avatar?item.avatar:placeholderPicture">
    </ion-avatar>
    <p class="title">
      {{item.title}}
    </p>
    <p class="sub-title " text-wrap>
      {{item.subTitle}}
    </p>

    <div class="time-item-detail-bottom">
      <img style="width: 13px;height: 13px" src="assets/imgs/home/icon/date.png">
      <span class="number">{{item.date}}</span>
      <img style="width: 17px;height: 8px" src="assets/imgs/home/icon/viewer.png">
      <span class="number">{{item.viewNumber}}</span>
      <img style="width: 14px;height: 12px;margin-left: 10px" src="assets/imgs/home/icon/comments.png">
      <span>{{item.commentsNumber}}</span>
    </div>
  </ion-item>


</div>


