app-secondary-menu {




  .product {
    ion-col {
      height: 20vh;
      padding: 20px 0;
    }
    img {
      height: 80%;
      width: 80%;
      border-radius: 10px;
    }
    p {
      font-size: 12px;
    }
  }
}
