page-mine {

  .box {
    width: 100vw;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .user {
    position: relative;
    width: 100%;
    height: 200px;
    text-align: center;
    line-height: 100px;
    .signInDetail {
      position: absolute;
      top: 10px;
      right: 20px;
      color: #3E3E3E;
      line-height: 30px;
    }
    img {
      width: 30vw;
      height: 30vw;
      border-radius: 50%;
      margin-top: 40px;
    }

  }
  .user:after {
    width: 140%;
    height: 140px;
    position: absolute;
    left: -20%;
    top: 0;
    z-index: -1;
    content: '';
    border-radius: 0 0 80% 80%;
    background: linear-gradient(to right, #F5AB5C, #F5EC5C);
  }

  .user-name {
    position: absolute;
    top: 150px;
    width: 40vw;
    left: 30vw;
    p {
      margin: 0;
      padding: 0;
    }
    .user-name-text {
      font-size: 12px;
    }
    .sign-in {
      background-color: #F5E65C;
      border-radius: 20px;
      font-size: 12px;
      color: #515151;
      padding: 0 10px;
      float: right;
    }
    .change-name {
      font-size: 12px;
      color: #D0D0D0;
    }
    .score {
      font-size: 12px;
      color: #F4C816;
      float: right;

    }

    .login {
      width: 70px;
      min-height: 0;
      height: 20px;
      font-size: 12px;
      margin-left: 35px;
    }
  }

  .subtitle {
    font-size: 12px;
    color: #8c8c8c;
  }
}
