app-times-trade {
  .time-item-button {
    margin-left: 50px;
    button {
      width: 65%;
      height: 23px;
      font-size: 14px;
      font-weight: bold;
    }
  }
  .time-item-img-list {
    width: 100vw;
    padding: 0 2vw;
    img {
      width: 30vw;
      height: 70px;
      border-radius: 10px;
    }
    .img_middle {
      margin: 0 3vw;
    }
  }
  .other-time {
    width: 40%;
    height: 23px;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    color: #7B7B7B;
    border-color: #FCE523;
  }
}
